* {
  margin: 0;
  padding: 0;
}
/* FIRST HEADING -- section id="kremlist1"*/
h1 {
  text-align: center;
  color: #006600 !important;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 100px;
}
h1::after {
  content: "";
  background: #006600;
  display: block;
  height: 3px;
  width: 30%;
  margin: 20px auto 5px;
}
h2 {
  text-align: center;
  color: #006600 !important;
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: sans-serif;
}
.linkki {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  border-radius: 3px;
  font-size: 30px;
  padding: 15px 30px;
  transition: 0.7s;
  position: relative;
}
.linkki:hover {
  background-color: #021d02;
  width: fit-content;
}
/*section id="kremlist1" and section id="kremlist2"*/
#kremlist1 {
  background-image: linear-gradient(rgba(15, 62, 15, 0), rgba(15, 62, 15, 1)),
    url(kuvat/kremit3.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
#kremlist1 h1,
#contact h1 {
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
  color: #fff;
  font-size: 42px;
  text-shadow: 2px 2px 4px #000000;
  font-family: sans-serif;
}
#kremlist1 h1::after,
#contact h1::after {
  content: "";
  background: #efefef;
  display: block;
  height: 3px;
  width: 30%;
  margin: 20px auto 5px;
}
#contact {
  background-image: linear-gradient(rgba(15, 62, 15, 0), rgba(15, 62, 15, 1)),
    url(kuvat/kremit1.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* To-do container */
body {
  color: #2a3819;
  font-family: sans-serif;
}
#to-do-cont {
  align-items: stretch;
  width: 500px;
  background-color: #fafafa;
  padding: 10px;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.07);
  margin: 10px 0;
  border-radius: 0.75rem;
  display: block;
  position: relative;
  margin: 0 auto;
}
#writeIn #Addbtn {
  transition: all 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  background: #023020;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  border-radius: 10px;
  margin: 10px;
  border: 0;
  outline: 0;
}
#writeIn #Addbtn:hover {
  background: #47c781;
}
#writeIn input#taskInput {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
  background: transparent;
  width: 420px;
  border: none;
}
#notes {
  padding: 20px 30px;
}
#notes #myNotes {
  list-style-type: none;
  padding-left: 0;
}
#notes #myNotes li {
  border-radius: 10px;
  color: #023020;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  animation: fadeIn 0.5s linear; /*ANIMATION*/
  background-color: #fff;
  margin-bottom: 5px;
  position: relative;
}
#notes #myNotes li:hover {
  border-right: 65px solid gray;
}
#notes #myNotes li:hover .delete {
  right: -50px;
  color: white;
}
#notes #myNotes li .delete {
  position: absolute;
  color: transparent;
  background: none;
  border: none;
  outline: 0;
  font-size: 15px;
}
#notes #myNotes li .delete:hover {
  opacity: 0.75;
}
#notes #notification {
  padding-top: 1rem;
  text-align: center;
  color: gray;
  font-weight: 500;
  font-size: 1.25rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-top: -50px;
  }
}
/*Contact us container*/
.lastHeading {
  text-align: center;
  color: #fff !important;
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: sans-serif;
}
.lastHeading::after {
  content: "";
  background: #fff;
  display: block;
  height: 3px;
  width: 25%;
  margin: 20px auto 5px;
}
.contact-form {
  padding: 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
}
.form-control {
  border-radius: 0 !important;
  border: none !important;
  margin: 3px;
  width: 400px;
  height: 30px;
}
::placeholder {
  color: #999 !important;
}
.contact-form input[type="submit"] {
  background: #2a3819;
  height: 38px;
  color: #f5f5dc;
  font-size: 16px;
  width: 11%;
  display: block;
  position: relative;
  margin: 0 auto;
  transition: 0.5s;
  border-radius: 5px;
}
.contact-form input[type="submit"]:hover {
  background-color: #006600;
}
